---
import Container from "./Container.astro";
---

<div id="features">
  <Container>
    <div class="flex flex-wrap justify-between gap-28 md:flex-nowrap">
      <div class="w-full md:w-1/2">
        <h2
          class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl"
          data-aos="fade-right"
          data-aos-duration="800"
          data-aos-delay="100"
        >
          The Challenge
        </h2>
        <p
          class="text-gray-600 dark:text-gray-300"
          data-aos="fade-right"
          data-aos-duration="800"
          data-aos-delay="300"
        >
          Africa is filled with talent and vision, but too often, creators
          struggle with limited access to funding, poor visibility, and complex
          platforms that aren't designed to meet their needs.
          <br />
          Traditional crowdfunding solutions tend to focus on charity or niche sectors,
          leaving product-driven innovators behind.
        </p>
      </div>

      <div class="w-full md:w-1/2">
        <div class="flex">
          <h2
            class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl"
            data-aos="fade-left"
            data-aos-duration="800"
            data-aos-delay="500"
          >
            The Solution
          </h2>
          <div 
          data-aos="zoom-in"
          data-aos-duration="800"
          data-aos-delay="800">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-6 h-6 text-secondary"
            >
              <path
                fill-rule="evenodd"
                d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <p
          class="text-gray-600 dark:text-gray-300"
          data-aos="fade-left"
          data-aos-duration="800"
          data-aos-delay="700"
        >
          LaunchFundr is more than just a crowdfunding platform—it’s a <b>
            backer-driven marketplace</b
          > where African creators can secure the funding and visibility they need
          to bring their products to life. By connecting creators with backers, we
          enable innovation to thrive. And with our <b>
            early access program</b
          >, creators can enjoy reduced platform fees and access to tools that
          simplify their journey from concept to launch.
        </p>
      </div>
    </div>

    <br />

    <h2
      class="mt-28 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl text-center"
    
      data-aos="zoom-in"
      data-aos-duration="800">
      Why LaunchFundr?
    </h2>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3"
    
      data-aos="zoom-in"
      data-aos-duration="800"
      data-aos-delay="800">
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/128/10503/10503277.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Accessible for All Creators
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              No matter the size of your project, LaunchFundr provides a
              streamlined, easy-to-use platform that helps you showcase your
              ideas and connect with backers.
            </p>
          </div>
          <!-- <a
            href="#"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">Read more</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a> -->
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/128/10415/10415310.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Backer-Driven Marketplace
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Our community of backers believes in supporting groundbreaking
              products that have the potential to make an impact.
            </p>
          </div>
          <!-- <a
            href="#"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">Read more</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a> -->
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/128/3643/3643789.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Reduced Fees for Early Adopters
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Join our early access program and benefit from reduced platform
              fees, putting more funds directly into your project.
            </p>
          </div>
          <!-- <a
            href="#"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">Read more</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a> -->
        </div>
      </div>
      <!-- <div
        class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              More features
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.
            </p>
          </div>
          <a
            href="#"
            class="flex items-center justify-between group-hover:text-secondary"
          >
            <span class="text-sm">Read more</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
            >
              <path
                fill-rule="evenodd"
                d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div> -->
    </div>
  </Container>
</div>
