---
import Container from "./Container.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
  <div
  class="blur-[106px] h-56 bg-gradient-to-br from-[#25c296] to-[#25c296] dark:from-[#25c296]"
>
</div>
<div
  class="blur-[106px] h-32 bg-gradient-to-r from-[#25c296] to-[#25c296] dark:to-[#25c296]"
>
</div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1
          class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
          data-aos-duration="800"
        >
          Welcome to LaunchFundr
        </h1>
        <br />
        <h1
          class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
          
          data-aos-duration="800"
          data-aos-delay="100"
        >
          <span class="text-primary dark:text-white"
            >Africa's Backer-Driven Marketplace.</span
          >
        </h1>
        <p
          class="mt-8 text-gray-700 dark:text-gray-300"
          
          data-aos-duration="800"
          data-aos-delay="200"
        >
          <b>Turn Your Ideas Into Reality</b>
          <br /> At LaunchFundr, we’re redefining the way African creators bring
          innovative products to life. Whether you're a creator, entrepreneur, or
          backer, our platform offers a unique opportunity to shape the future of
          African-made products.
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href="#"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <span class="relative text-base font-semibold text-white"
              >Get Early Access Today</span
            >
          </a>
          <a
            href="#"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
            
            data-aos-duration="1000"
            data-aos-delay="300"
          >
            <span
              class="relative text-base font-semibold text-primary dark:text-white"
              >Get Early Access Today</span
            >
          </a>
        </div>

        <br><br><br>

        <div
          class="hidden gap-1 py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
        >
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white" data-aos-duration="800" data-aos-delay="100">
              Accessible for All Creators
            </h6>
            <!-- <p class="mt-2 text-gray-500" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Some text here</p> -->
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white" data-aos-duration="800" data-aos-delay="500">
              Backer-Driven Marketplace
            </h6>
            <!-- <p class="mt-2 text-gray-500" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">Some text here</p> -->
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white" data-aos-duration="800" data-aos-delay="900">
              Empowering Innovation
            </h6>
            <!-- <p class="mt-2 text-gray-500" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1100">Some text here</p> -->
          </div>
        </div>

      </div>


      <!-- <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/clients/microsoft.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/clients/airbnb.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div
          class="p-4 flex grayscale transition duration-200 hover:grayscale-0"
        >
          <img
            src="./images/clients/google.svg"
            class="h-9 w-auto m-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/clients/ge.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div
          class="p-4 flex grayscale transition duration-200 hover:grayscale-0"
        >
          <img
            src="./images/clients/netflix.svg"
            class="h-8 w-auto m-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/clients/google-cloud.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
      </div> -->


    </div>
  </Container>
</div>
